<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297223572105-45e7np15cvet1kmh130p0sji73qa098i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297223572105-45e7np15cvet1kmh130p0sji73qa098i</string>
	<key>API_KEY</key>
	<string>AIzaSyBiEe2Z9gBaQqMN63XfVUmhFz3_ZVKRRHc</string>
	<key>GCM_SENDER_ID</key>
	<string>297223572105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-239a0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-239a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297223572105:ios:1c9d7a4fcb0c98bef11458</string>
</dict>
</plist>